{% extends "layout.html" %}
{% block content %}
    <br/>
    <br/>
    <br/>
    <h1>Welcome to the ATM Simulator</h1>
    <p class = "size">Experience the convenience of virtual banking with our ATM Simulator. View your account details, withdraw funds, and more.</p>
    <br/>
    <br/>
    <h2>Key Features:</h2>
    <ul class = "size">
        <li>Withdraw Funds</li>
        <li>Deposit Funds</li>
        <li>Transfer Money</li>
        <li>Apply for a Loan</li>
        <li>View Transactions</li>
        <li>View Account Details</li>
    </ul>
{% endblock content %}